<div class="container">
  <h2>Informações do Usuário
    <button routerLink="/cadastro-usuario" type="button" class="btn btn-primary">Adicionar um novo usuário</button></h2>
  <div class="row">
    <div class="col-12">
      <form (ngSubmit)="onSubmit()" #uploadForm="ngForm" enctype="multipart/form-data">
        <div class="form-group">
          <input type="file" id="file" (change)="onFileSelected($event)" required>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!file">Enviar CSV</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      @if (usuarios.length == 0) {
        <div class="alert alert-primary" role="alert">
          Não existem usuários cadastrados no momento!
        </div>
      }
      @if(usuarios.length > 0) {
        <table class="table table-bordered">
        <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Email</th>
          <th scope="col">Idade</th>
        </tr>
        </thead>
        <tbody>
          @for (usuario of usuarios; track usuario._id) {
            <tr>
                <td>{{ usuario.nome }}</td>
                <td>{{ usuario.email }}</td>
                <td>{{ usuario.idade }}</td>
                <td>
                  <button [routerLink]="['/cadastro-usuario', usuario._id]"  type="button" class="btn btn-primary"><i class="bi bi-eye"></i></button>
                  <button (click)="deletarUsuario(usuario._id)" type="button" class="btn btn-danger"><i class="bi bi-trash"></i></button>
                </td>
            </tr>
          }
        </tbody>
      </table>
      }
    </div>
  </div>
  @if (mostrarMensagemDeErro) {
    <div class="alert alert-danger" role="alert">
      {{ exception?.error }}
    </div>
  }
  @if (mostrarMensagemDeSucesso) {
    <div class="alert alert-success" role="alert">
      {{ mensagemDeSucesso }}
    </div>
  }
</div>
